html {min-width:1000px; height:100%}

body {min-width:1000px; height:100%; margin:0; padding:0; font:14px/18px "PT Sans", arial, helvetica, sans-serif; color:#262924; background:#335535 url(../images/index-bg.jpg)}

a {color:#0077b5; outline:none}
a:hover {text-decoration:none}

img {border:none}

.wrapper {min-width:1000px; min-height:100%; background:url(../images/index-bg-top.png) repeat-x}
.wrapper-inner {padding:0 0 191px 0}

header {display:block; height:207px; position:relative}

.logo {position:absolute; left:40px; top:22px; line-height:0}

section {display:block; width:460px; margin:0 auto}

.form-tabs {position:relative}
.form-tabs ul {margin:0; padding:0; list-style:none; width:100%}
.form-tabs ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-tabs ul li {float:left; position:relative; margin:9px 0 0 -20px; width:250px}
.form-tabs ul li:first-child {margin-left:0; margin-right:-20px}
.form-tabs ul li.active {margin-top:0; z-index:2; width:230px; margin-left:0; margin-right:0}
.form-tabs ul li a {display:block; position:relative; cursor:pointer; padding:12px 0 21px 20px; text-decoration:none; color:#475047; font-size:24px; line-height:22px; text-align:center; background:#dfe3dc; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; behavior:url(./js/PIE.htc)}
.form-tabs ul li:first-child a {padding-left:0; padding-right:20px}
.form-tabs ul li.active a {padding-left:0; padding-right:0}
.form-tabs ul li.active a {background:#fff; color:#000; font-weight:bold; font-size:27px; padding-top:21px}

.forms {position:relative; z-index:3; margin-top:-4px}
.form {display:none}
.form.active {display:block}
.form form {margin:0; padding:25px 0 44px 0; position:relative; background:#fff; -moz-border-radius:4px 0 4px 4px; -webkit-border-radius:4px 0 4px 4px; -khtml-border-radius:4px 0 4px 4px; border-radius:4px 0 4px 4px; behavior:url(./js/PIE.htc)}
.form:first-child form {-moz-border-radius:0 4px 4px 4px; -webkit-border-radius:0 4px 4px 4px; -khtml-border-radius:0 4px 4px 4px; border-radius:0 4px 4px 4px}
.form-row {width:100%; padding:0 0 18px 0}
.form-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-label {float:left; text-align:right; line-height:27px; width:138px; padding:0 21px 0 0}
.form-input {float:left; position:relative}
.form-input input {vertical-align:top; width:259px; height:18px; margin:0; padding:3px 10px 4px 10px; outline:none; border:1px solid #bcbcbc; background:#fff; position:relative; color:#262924; font:14px/18px "PT Sans", arial, helvetica, sans-serif; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; behavior:url(./js/PIE.htc)}
.form-select {float:left; position:relative}
.form-select select {width:281px}
.form-input-captcha input {width:63px}
.form-input textarea {vertical-align:top; width:259px; height:58px; margin:0; padding:3px 10px 4px 10px; outline:none; border:1px solid #bcbcbc; background:#fff; position:relative; color:#262924; font:14px/18px "PT Sans", arial, helvetica, sans-serif; overflow:auto; resize:none; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; behavior:url(./js/PIE.htc)}
.form-agreement {padding:0 0 39px 161px; width:279px; margin-top:-6px}
.form-agreement:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-agreement div {float:left; position:relative; cursor:pointer; padding:0 0 0 26px}
.form-agreement div span {position:absolute; display:block; width:16px; height:16px; left:0; top:2px; overflow:hidden; background:url(../images/index-checkbox.png)}
.form-agreement div span.checked {background-position:left -16px}
.form-agreement div span input {position:absolute; left:-99px; top:-99px}
.form-captcha {float:left; line-height:0; margin:-8px 0 0 14px}
.form-submit {text-align:center; position:relative; font-size:0; line-height:0; letter-spacing:-1px; padding:25px 0 0 0}
.form-submit span {display:inline-block; vertical-align:top; position:relative; height:41px; background:url(../images/index-submit.png)}
.form-submit input {vertical-align:top; position:relative; border:none; background:url(../images/index-submit.png) no-repeat right -41px; margin:0; padding:0 25px 3px 25px; outline:none; cursor:pointer; height:41px; overflow:visible; color:#fff; text-shadow:0 -1px 0 rgba(23, 100, 20, .75); font:bold 20px/38px "PT Sans", arial, helvetica, sans-serif; letter-spacing:0}

footer {display:block; height:93px; min-width:1000px; margin-top:-93px; background:url(../images/index-bg-footer.png); font-size:12px}
footer p {margin:0; padding:0}

.copyrights {float:left; padding:30px 0 0 40px}

.contacts {float:right; padding:21px 49px 0 0}